@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  outline: none;
  /*border: none;*/
}

html {
  min-height: 100vh;
  min-width: 100vw;
}
